html,body
{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
.maiiiin
{
    max-height: 50%;
    
}
.justa
{
    color: #FFFFFF;
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    font-size:20px;
}

.heading1
{
    color: #FFFFFF;
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    font-size:70px;
}
.form_heading
{
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    background-color: #FFEF00;
    height: 100vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box
{
    width: 1000px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

maiiiin.photo_default
{
    top: 100%;
}
#button_qr
{
    font-size: 18px;
    padding: 8px 24px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 25px;
    background-color: rgb(15, 255, 115);
    border: 2px solid #03512a;
    color: rgb(1, 1, 81);
    outline: none;
}
#dl_button_qr
{
    display: none;
    font-size: 18px;
    padding: 5px 44px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    background-color: rgb(62, 219, 107);
    border: 2px solid #03512a;
    color: rgba(10, 18, 1, 0.882);
    outline: none;    
}


.blocka
{
  margin: 0 auto;
  max-width: 900px;
  padding: 50px 30px;   
}
/*css placeholder text to centre in different browsers*/
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }
 /*css placeholder text to centre in different browsers*/
.input-res
{

    
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: rgb(202, 7, 7);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;

  min-width: 360px;
  max-width: 500px;
  
  height: 70px;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 

  background-color: rgb(209, 233, 229);
  border-radius: 7px;
  border: 3px solid #3257ea;
}
